@using AmazonSystem.Web.ViewModels
@model List<CartItemModel>

@{
    Layout = null;
    var productsSum = Model.Sum(x => x.ProductPrice);
    var tax = 5;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/checkout.css" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/d/de/Amazon_icon.png">
<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
<script src="~/js/ajaxCheckout.js" asp-append-version="true"></script>
<script src="~/js/ajaxRemoveFromCart.js" asp-append-version="true"></script>

<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">@Model.Count items</div>
                </div>
            </div>
            @foreach (var product in Model)
            {
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2">
                            <img class="img-fluid" src="@product.ImageUrl"></div>
                        <div class="col">
                            <div class="row">@product.ProductName</div>
                        </div>
                        <div class="col">
                            <i class="fas fa-dollar-sign"></i>
                            <span class="doublePrice">@product.ProductPrice</span>
                        </div>
                    </div>
                </div>
            }

            <div class="back-to-shop">
                <a asp-controller="Home" asp-action="Index">&leftarrow;</a><span class="text-muted">Back to shop</span>
            </div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS @Model.Count</div>
                <div class="col text-right">
                    <i class="fas fa-dollar-sign"></i>
                    <span class="totalPrice">@(productsSum + tax)</span>
                </div>
            </div>
            <form>
                <p>SHIPPING</p>
                <select>
                    <option class="text-muted">Standard-Delivery - <i class="fas fa-dollar-sign"></i> @tax</option>
                </select>
                <p>GIVE CODE</p>
                <input id="code" placeholder="Enter your code" />
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">
                    <i class="fas fa-dollar-sign"></i>
                    <span class="totalPrice">@(productsSum + tax)</span>
                </div>
            </div>
            <button class="btn">Pay</button>
        </div>
    </div>
</div>